<!DOCTYPE html>
<html>
	<head>
		<title>Chat {{usuario}}</title>
		<link rel="stylesheet" type="text/css" href='static/AmigosChat.css'>
	</head>
	<body >

		<div >
			<h2 >Chat Con {{amigo}}</h2>
			<div class="primero">				
				<div class="segundo">
					<p style="position: absolute;text-align: left; margin-left: 0">
					{%for a in chat%}
						<h4>{{a}}</h4>
					{%endfor%}
					</p>
				</div>
			</div>
			<div class="abajo">
				<form  method="post" action="{{ url_for('chatAmigos')}}" enctype="multipart/form-data">
					<input type="text"  style="overflow: auto; height:30px;width: 450px; vertical-align: middle; " name="Mensajes"> 
					<input type="submit" style="height: 30px; vertical-align: middle; " value="Enviar Mensaje" name="enviar">
					<input type="button" value="Actualizar" style="height: 30px; vertical-align: middle; " onclick=" location.href= 'http://127.0.0.1:1000/chatAmigos'" name="actualizar">
					<br/>
					<br/>
					<input type="file" style="height: 30px; vertical-align: middle;"  name="file" accept="image/*">
					<input type="submit" style="height: 30px; vertical-align: middle;" value="Enviar imagen" name="imagen">
				</form>
									
				<div class="volver">
					<input type="button" style="height: 30px; width:100px;" onclick=" location.href='http://127.0.0.1:1000/chats' " value="Volver" name="boton" >
				</div>
			</div>
		</div>
	</body>
</html>