{% extends "index.html" %}
{%block registro %}	
	{% if login %}
		<div class="container">
			<form class="form-signin" method="post">
				Usuario: <input type="text" name="Usuario", class="form-control" />
				<br/>
				Contraseña:<input type="password" name="contrasena", class="form-control" />
				<br/>
				<input type="submit", value="Registrarse">
				<input type="button" onclick=" location.href='http://127.0.0.1:1000' " value="Volver" name="boton" /> 
			</form>
			<li>{{error1}}{{error}}{{aceptado}}</li>
		</div>
		<br/>
		<div align="center"> <img src="{{url_for('static', filename='img/logo.png')}}" width="270" height="270"></div>
	{% else %}
		{{e}}
		<div class="container">
			<form class="form-signin" method="post">
				Usuario: <input type="text" name="Usuario", class="form-control" />
				<br/>
				Contraseña:<input type="password" name="contrasena", class="form-control" />
				<br/>
				<input type="submit", value="Iniciar sesion">
				<input type="button" onclick=" location.href='http://127.0.0.1:1000/registro' " value="Registrarse" name="boton" /> 
			</form>					
			<li>{{error}}</li>
		</div>
		<div align="center"> <img src="{{url_for('static', filename='img/logo.png')}}" width="270" height="270"></div>
	{% endif %}
{%endblock%}


