body{
	background: #5DB9FF;
}

div{
	background-color: #2196F3;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 3px solid #000000;
	text-align: center;
	position: relative;
	top: 40px;
	height: 600px;
	width: 600px;
	margin: auto;
	overflow-y: auto;
}
h2{
	font-size: 200%;
	position: relative;
}


h3 {
	background: white;
	border-radius: 58px 58px 58px 58px;
-moz-border-radius: 58px 58px 58px 58px;
-webkit-border-radius: 58px 58px 58px 58px;
border: 0px solid #000000; background-color: #F0F3F4   ; 
margin: 40px;
height: 35px;	

}